<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="webjars/bootstrap/5.1.3/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <!-- CSS only -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<!-- Grey with black text -->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/user/index}"> Home</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/admin/formStudents}">Nouveau</a>
            </li>



        </ul>
        <ul class="navbar-nav" >
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a  class="nav-link" th:href="@{/user/profile}" role="button">
                    <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="Avatar Logo" style="width:30px;" class="rounded-pill">
                    <span sec:authentication="name"></span>
                </a>
            </li>
            <li class="nav-item">
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Logout</a></li>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
            </li>
        </ul>

    </div>
</nav>
<section layout:fragment="content1">

</section>
<section layout:fragment="content2">
    <footer class="bg-light text-center text-white">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.linkedin.com/in/hajar-tajayouti-6711821a2/">Hajar-TAJAYOUTI</a>
        </div>
    </footer>
</section>
</body>
</html>